.recipeheader, .maintitle {
    text-align: center;
    color: lightsalmon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    background-color: pink;
}

#mainsubheader {
    font-size: 30px;
    text-align:center;
}

.indexlist {
    text-align: center;
    list-style-type: none;
}

.recipeimg {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.recipeheader {
    font-size: 50px;
}

.maintitle {
    font-size: 80px;
}

.Ingredientssubheader {
    color: lightgreen;
}

.stepssubheader {
    color: lightblue;
}